.cart {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.cart-image img {
    width: 300px;
    height: 300px;
}

.cart-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.cart-desc button {
    border: 1px solid orange;
    padding: 5px;
    border-radius: 5px;
    transition: scale 0.1s ease-in-out;
}

.cart-desc button:hover {
    background-color: orange;
    border: none;
    outline: none;
    transform: scale(1.1);
    cursor: pointer;

}